/*
* profilePage.scss 
* 
* Dahlia Frontend - Andela Simulations Challenge ©️ 2019
* Andela Simulations Challenge ©️ 2019
* https://github.com/andela/dahlia-ah-frontend
*
* SCSS Designed by TeamDahlia.
*/

$black: #000008;
$light-black: rgba(0, 0, 0, 0.7);

.profile-page {
  border-top: 85px solid $black;

  .profile-container {
    width: 90%;
    min-height: 100vh;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 100%;
  }

  h4 {
    text-align: center;
    font-size: 1.3em;
    margin: 1rem 0;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.7;
    margin-top: 3rem;
  }
}
