.novel-list-item {
  * {
    margin: 0;
    padding: 0;
  }
  display: grid;
  grid-template-columns: 100px 550px 100px;
  grid-template-rows: 70% 1fr;
  height: 140px;
  grid-template-areas:
    'image novel activity'
    'image novel activity'
    'image meta meta';
  margin: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.068);
  padding: 0.5rem 0;

  .img-container {
    grid-area: image;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 90px;
      height: 136px;
      cursor: pointer;
    }
  }

  .novel-details {
    grid-area: novel;
    padding: 0 .6rem;
    text-align: justify;
  }

  h5 {
    margin-bottom: 1rem;
    font-size: 1.4em;
    text-transform: capitalize;
    cursor: pointer;
  }

  p {
    max-width: 85ch;
  }

  .novel-meta {
    grid-area: meta;
    display: flex;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.699);

    div:first-of-type {
      padding-right: 8rem;
      padding-left: .5rem;
    }
  }

  .novel-activity {
    grid-area: activity;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.699);
    padding: 0 1rem;

    div {
      padding-right: 0.7rem;
    }
  }

  @media only screen and (max-width: 850px) {
    grid-template-columns: 100px 400px 100px;
    grid-template-areas:
      'image novel novel'
      'image novel novel'
      'image meta activity';
  }

  @media only screen and (max-width: 650px) {
    grid-template-columns: 100px 300px 100px;
  }

  @media only screen and (max-width: 540px) {
    grid-template-columns: 100px 200px 100px;
    margin: 1rem;

    .novel-details {
      padding: 0 1rem;
    }

    h5 {
      margin-bottom: 0.7rem;
      font-size: 1.2em;
    }

    p {
      max-width: 85ch;
      font-size: 0.8em;
    }

    .novel-meta {
      font-size: 0.7em;

      div:first-of-type {
        padding-right: 3rem;
        padding-left: 1.3rem;
      }
    }

    .novel-activity {
      font-size: 0.7em;

      div {
        padding-right: 0.7rem;
      }
    }
  }

  @media only screen and (max-width: 435px) {
    grid-template-columns: 90px 150px 70px;
    .novel-meta {
      font-size: 60%;

      div:first-of-type {
        padding-right: 1rem;
        padding-left: 1.3rem;
      }
    }

    .novel-activity {
      font-size: 60%;

      div {
        padding-right: 0.4rem;
      }
    }
  }
}
