.profile-content {
  * {
    margin: 0;
    padding: 0;
  }
  display: flex;
  flex-direction: row;
  .name {
    font-size: 1.9em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  .bio {
    max-width: 70ch;
    min-width: 40ch;
    margin-top: 1rem;
  }

  .avatar-container {
    width: 200px;
    height: 200px;
    margin-right: 3rem;
    position: relative;

    .img {
      width: 100%;
      height: 100%;
    }

    .fas.fa-camera {
      visibility: hidden;
      font-size: 1.5em;
      color: rgb(0, 0, 0);
      padding: 3px;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &:hover,
    &:focus,
    &:active {
      .fas.fa-camera {
        visibility: visible;
      }
    }
  }

  .bio-container {
    display: flex;
    flex-flow: column nowrap;
  }

  .generic-btn,
  .generic-btn:focus,
  .generic-btn:active {
    padding: 0.5rem 1rem;
    margin: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    align-self: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    outline: none;
    background-color: white;
    cursor: pointer;
  }

  @media only screen and (max-width: 850px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 90%;

    .avatar-container {
      width: 170px;
      height: 170px;
      margin: 2rem 0 1rem 0;
    }
  }

  @media only screen and (max-width: 540px) {
    font-size: 80%;
    .avatar-container {
      width: 150px;
      height: 150px;
    }
  }

  @media only screen and (max-width: 435px) {
    font-size: 70%;
    .avatar-container {
      width: 140px;
    }
  }
}
