.profile-page{
  .page-error-modal {
    .btn {
    border: 1px solid rgba(0, 0, 0, 0.6);
    align-self: center;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
  }

  margin: 0 !important;
  padding: 0 !important;
  
}}